@model UserManagement.Web.Models.Logs.LogsListViewModel

<h2>Logs</h2>

<div id="pager" class="pager">
    <form>
        <img src="~/lib/tablesorter/dist/css/images/next.png" class="first" />
        <img src="~/lib/tablesorter/dist/css/images/prev.png" class="prev" />
        <!-- the "pagedisplay" can be any element, including an input -->
        <span class="pagedisplay" data-pager-output-filtered="{startRow:input} &ndash; {endRow} / {filteredRows} of {totalRows} total rows"></span>
        <img src="~/lib/tablesorter/dist/css/images/next.png" class="next" />
        <img src="~/lib/tablesorter/dist/css/images/last.png" class="last" />
        <select class="pagesize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="all">All Rows</option>
        </select>
    </form>
</div>

<table class="table tablesorter">
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>UserId</th>
                <th>Action</th>
                <th data-sorter="false" data-filter="false"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { @item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br/>
<div>
    <a asp-controller="Users" asp-action="List">Users</a>
</div>
