@model UserManagement.Web.Models.Logs.LogsListViewModel

<h2>Logs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>UserId</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { @item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
